/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.homebackground {
  background-size: cover !important;
  height: calc(100vh - 65px);
}

.searchbarhome {
  margin-top: 210px;
  margin-bottom: 200px;
}

.searchbarhome h1 {
  color: #D3CA24;
  font-weight: bolder;
  margin-left: 5px;
  font-size: 42px;
}

.searchbarhome .navbar-wagon-search-input {
  margin-right: 10px;
}

.searchbarhome .navbar-wagon-search-input {
  border-radius: 4px;
}

.searchbarhome .btn-success {
  border-radius: 5px;
  background-color: green;
  border: none;
}

.search-btn {
  border-radius: 5px;
  background-color: green;
  border: none;
  color: white;
  width: 220px;
  margin-left: 5px;
  padding: 10px;
  background-color: #9AA436;
  border: 2px solid #62682F;
  border-radius: 4px;
}

.search-btn:hover {
  color: black;
  background-color: #D3CA24;
  font-weight: lighter !important;
  font-size: 15px !important;
  line-height: 22px !important;
}
