<h1>Edit your monster !</h1>
<%= render "form" %>
<br>
<%= link_to "Delete", monster_path(@monster),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to "Back to monsters", monsters_path %>


