<div class="container">
  <div class="row">

          <% @monster.each do |m| %>
          <div class="col-md-4 col-xs-12 ">
          <div class="monster-card">
             <ul>
               <li><h2> <%= m.name %> </h2> </li>
                <li> <%= m.title %> </li>
                <div class="monster-description">
                <li><h4> <%= m.description %></h4> </li>
                </div>
                 <li> <img src="" alt="image"> </li>
                 <li><%= link_to "Details", monster_path(m.id)%></li>
             </ul>
           </div></div>
          <% end %>



    </div>
  </div>
</div>
