<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-5">
      <h1 class="text-center">ADD YOUR MONSTER !</h1>
      <%= render "form" %>
      <div class="bookings-btn2 align-center">
      <%= link_to "BACK TO ALL MONSTERS", monsters_path %>
      </div>
      <br><br><br>
    </div>
  </div>
</div>

