<div class="footer">
  <div class= "row">
    <div class= "col-xs-12 ">
      <h2>This is the footer</h2>
      <ul>
        <li>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>_facebook</li>
        <li>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>_twitter</li>
        <li><i class="fa fa-pinterest-square" aria-hidden="true"></i>_pinterest</li>
      </ul>
      <p>© Romain et Guillaume - 2016 @ LeWagon Summer Camp
    </div>
  </div>
</div>
