<div class="homebackground">
  <div class= "row">
    <div class= "col-md-4 col-md-offset-4">
      <div class="searchbarhome">
        <div class="text-center">
          <h1>Find the monster of your nightmares!</h1>
            <!-- Search form -->
            <form action="" class="navbar-wagon-search">
              <input type="text" class="navbar-wagon-search-input" placeholder="GingerBreadMan">
              <button type="submit" class="navbar-wagon-search-btn"></button>
              <%= link_to "Search", monsters_path, {class: "btn btn-success"}  %>
            </form>
        </div>
      </div>
    </div>
  </div>


</div>
