<div class= "container">
  <div class= "row">
    <div class= "col-md-4 col-offset-4">
        <h1>Rent-A-Monster</h1>
        <p>Find me in app/views/pages/home.html.erb</p>
        <p>We're doing good</p>
    </div>
  </div>
</div>
