.book {
    background-color: black;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 6px;
    position: relative;
}

.book-btn1 {
    position: absolute;
    color: white;
    bottom: -100px;
    right: 130px;
    margin: 0px;
    width: 140px;
    font-size: 15px;
    padding: 10px 0px;
    border-radius: 4px;
    background-color: #3FACC7;
    border: 2px solid #447687;
}

.book-btn2 {
    position: absolute;
    bottom: -112px;
    right: 270px;
    margin: 11px;
    width: 94px;
    font-size: 15px;
    padding: 10px 21px;
    border-radius: 4px;
    background-color: #3FACC7;
    border: 2px solid #447687;
}

.book-btn2:hover {
  opacity: 0.6;
  color: black;
  font-weight: lighter !important;
  font-size: 15px !important;
  line-height: 22px !important;
}

input.btn.btn-default.book-btn1:hover {
  background-color: #3FACC7;
  border: 2px solid #447687;
  opacity: 0.6;
  color: black;
  font-weight: lighter !important;
  font-size: 15px !important;
  line-height: 22px !important;
}


