body {
  background-color: #001E37;
}
.monster-card {
  background-color: #253998;
  background-size: cover;
  height: 400px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 4px;
  opacity: 0.9;
}

.monster-card ul {
  list-style-type: none;
}

.monster-description {
  color: red;
}

.monster-card img {
  background-color: red;

  // width: 100px;
  // height: 100px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 18px;
  margin: auto;
  border-radius: 50%
}

.monster-card img:hover {
  border: 2px solid #ccc;
}

.monster-card h2 {
  color: #aaaaaa;
}


.monster-card h3 {
  color: #737373;
  font-size: 22px;
}

.card-link {
  position: absolute;
  bottom: 20px;
  right: 20px
}
