.show {
    background-color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 69px;
    border-radius: 6px;
    position: relative;
}

.show-profile h2, h3 {
  color: silver;
}

.show-profile h2 {
  display: inline;
  margin-bottom: 50px;
}

.show-btn1 {
  position: absolute;
  bottom: 20px;
  right: 240px;
  margin: 10px;
  width: 200px;
  font-size: 15px;
  padding: 11px 21px;
  border-radius: 4px;
  background-color: #3FACC7;
  border: 2px solid #447687;
  transition: color 0.3s ease;
}

.show-btn2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: 10px;
  width: 200px;
  font-size: 15px;
  padding: 11px 21px;
  border-radius: 4px;
  background-color: #3FACC7;
  border: 2px solid #447687;
  transition: color 0.3s ease;
}

.show-btn1:hover {
  opacity: 0.6;
  color: black;
  font-weight: lighter !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.show-btn2:hover {
  opacity: 0.6;
  color: black;
  font-weight: lighter !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
